* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 40000px;
}

.header-top {
height: 80px;
background-color: #f4f9fd;

}

.header-top::after {
  content '';
  display: table;
  clear:both;
}

.header-top .left-side {
  float: left;
  margin-left: 100px;
  padding-top: 20px;
}

.header-top .right-side {
  float: right;
  margin-right: 100px;
  padding-top: 20px;
}

.language-sel {
  list-style: none;
}

.language-sel li{
  font-family: Arial;
  display:inline-block;
}
.language-sel .login-button{
  padding-top: 5px;
}

.login-button {
  background-color: white;
  height:30px;
  border-radius: 5px;
  border-color: #fe775a;
  font-style: normal;
  text-align: center;
  color: #fe775a;
  padding-top: 8px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
}


/*HEADER MENU*/
.ul .menu {
  list-style: none;
}

.header-menu .logo {
  float:left;
  margin-left: 100px;
  padding-top: 20px;
}
/*MAIN NAVIGATION*/
.nav::after{
  content: "";
  display: table;
  clear: both;
}
.nav .menu {
  float: right;
  margin-right: 100px;
  text-decoration:none;
  padding-top: 20px;
}

.nav .menu li{
  font-family: Arial;
  list-style: none;
  text-decoration:none;
}
.nav .menu li i {
float: right;
}
.nav .menu li a {
  text-decoration:none;
  color: black;
}

.nav .menu li a:hover{
  background-color: #cecece;
  color: blue;
}

.orange-button {
  background-color: #fe775a;
  height:30px;
  border-radius: 5px;
  border-style: none;
  font-style: normal;
  color: white;
  padding: 8px;
}

/*AREA IMMAGINE TOP*/
.container-image {
  width:auto;
    padding-bottom: 0;
    height: 921px;
}

.immagine-top img {
  width:100%;
  padding-top: 20px;
}
.testo {
  display: inline-block;
}
.text-style {
  position: absolute;
  z-index: 50;
  margin: 0 auto;
  left: 0px;
  right: 0;
  top: 18%;
  font-family: Arial;
  font-size: 45px;
  font-weight: 700;
  color: black;
  width: 60%;
}
.description-style{
  position: absolute;
  line-height: 1.8;
  z-index: 50;
  margin: 0 auto;
  left: 0px;
  right: 0;
  top: 34%;
  font-family: Arial;
  font-size: 16px;
  font-weight: 200;
  color: black;
  width: 60%;
}

/*BUTTON*/

.cta-orange {
  position: absolute;
  z-index: 999;
  margin: 0 auto;
  left: 0px;
  right: 0;
  top: 47%;
  width: 60%;
}

.cta {
  background-color: #fe775a;
  height:30px;
  border-radius: 5px;
  border-style: none;
  font-weight: bold;
  font-style: normal;
  color: white;
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
}

.text-under-cta {
  padding-top: 30px;
  font-family: Arial;
  font-size: 10px;
}

/*BREAKLINE AZZURRA*/
.container-jumbotron {
position: relative;
  margin: 0;
}

.container-jumbotron::before {
  content: "";
  position: absolute;


  /*z-index: 999;*/
  /*margin: 0 auto;*/
  left: 0px;
  /*right: 0;*/
  width: 100%;
  height: 100px;
  background-color: #afebe4;
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  bottom: 0px;

}
/**FINE TOP PAGE**/

/**INIZIO MIDDLE PAGE**/

/*MAIN CONTENT CONTAINER*/
.main-content-container {
  background-color: #f4f9fd;
  background-position: center;
  height:1250px;
  width:1900px;
  padding-top: 0;
  margin-top: 0;
}
.main-central-img {
  padding-top: 50px;
  text-align: center;
}
.img {
  width: 250px;
}
.main-title {
  font-family: Arial;
  padding-top: 50px;
  text-align: center;
}
.main-subtitle {
  font-family: Arial;
  text-align: center;
  margin-top: 30px;
}

/*CRM*/
.main-content-Container {
  position: relative;
}
.crm .box-crm{
  height: 300px;
  width: 900px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
  z-index: 999;
  margin: 0 auto;
  margin-top: 30px;
  left: 0px;
  right: 0;
  bottom: 0;
}
.text-crm {
font-family: Arial;
padding-top: 40px;
}
.description-crm {
  font-family: Arial;
  font-size: 12px;
  float: left;
  margin-left: 341px;
  padding-top: 30px;
  text-align: left;
}
.text-crm::after{
    content: "";
    display: table;
    clear: both;
  }

/*CLAIM CRM*/
.claim-crm {
  font-family: Arial;
  font-weight: bold;
  margin-left: 155px;
  padding-top: 30px;
}

.orange-bullet::after{
  content: "";
  display: table;
  clear: both;
}
.orange-bullet{
  float: right;
  margin-right: 100px;
  padding-top: 20px;
}
.three-bullet li{
  display: inline-block;
  margin: 20px;
  text-decoration: none;
  list-style: none;
  font-family: Arial;
  font-size: 12px;
  margin-right: 67px;
}
/*IMMAGINE e CTA LEARN MORE*/
.area-cta-learn-more{
  position: relative;
}
.area-cta-learn-more {
  content: "";
  display: table;
  clear: both;
}
.immagine-cta{
  position: absolute;
  z-index: 50;
  margin-bottom: 100px;
  margin-left: 100px;
  bottom: 0;
}
.bottone-cta {
  position: absolute;
  z-index: 50;
    background-color: #fe775a;
    height:30px;
    width:150px;
    bottom:0;
    margin-left: 100px;
    border-radius: 5px;
    border-style: none;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}
.learn-more {
  font-size: 14px;
  font-family: Arial;
}

/*COLONNA 1*/
.colonna-1::after {
  content '';
  display: table;
  clear:both;
}
.colonna-1{
  height:500px;
  width:30%;
  background: white;
  margin-top: 95px;
}
.colonna-1{
float:left;
border-radius: 5px;
box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.col1-heading{
font-family: Arial;
margin-top: 20px;
}

.col1-image {
  padding-top: 18px;
}
.testo-mktg-hub {
  font-family: Arial;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 20px;
}
.col-pop-feat {
  font-family: Arial;
  margin-top: 25px;
}

.navigazione-laterale {
  list-style: none;
  font-family: Arial;
  font-size: 11px;
  text-align: left;
  margin-left: 28px;
  margin-top: 20px;
  line-height: 20px;
}

.navigazione-laterale li a{
  text-decoration: none;
  color: black;
}

/*CTA LEARNMORE COLONNA 1*/

.contact-learnmore{
  background-color: #fe775a;
  height:30px;
  width:100px;
  margin-left: 85px;
  margin-top: 40px;
  border-radius: 5px;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.cta-crm-learnmore{
  font-size: 12px;
  font-family: Arial;
  border: none;
  background-color:transparent;
  color: white;
}

/**FINE COLONNA 1**/

/*COLONNA 2*/
.colonna-2::after {
  content '';
  display: table;
  clear:both;
}

.colonna-2{
  height:500px;
  width:30%;
  background: white;
  margin-top: 95px;
  margin-left: 45px;
  margin-right: 45px;
}
.colonna-2{
float:left;
border-radius: 5px;
box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.col2-heading{
font-family: Arial;
margin-top: 20px;
}

.col2-image {
  padding-top: 18px;
}
.testo-sales-hub {
  font-family: Arial;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 20px;
}
.col-pop-feat2 {
  font-family: Arial;
  margin-top: 25px;
}

.navigazione-laterale {
  list-style: none;
  font-family: Arial;
  font-size: 11px;
  text-align: left;
  margin-left: 28px;
  margin-top: 20px;
  line-height: 20px;
}

.navigazione-laterale li a{
  text-decoration: none;
  color: black;
}

/*CTA LEARNMORE COLONNA 2*/

.contact-learnmore2{
  background-color: #fe775a;
  height:30px;
  width:100px;
  margin-left: 85px;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.cta-crm-learnmore2{
  font-size: 12px;
  font-family: Arial;
  border: none;
  background-color:transparent;
  color: white;
}

/**FINE COLONNA 2**/

/*COLONNA 3*/
.colonna-3::after {
  content '';
  display: table;
  clear:both;
}

.colonna-3{
  height:500px;
  width:30%;
  background: white;
  margin-top: 95px;
}
.colonna-3{
float:left;
border-radius: 5px;
box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.col3-heading{
font-family: Arial;
margin-top: 20px;
}

.col3-image {
  padding-top: 18px;
}
.testo-service-hub {
  font-family: Arial;
  font-size: 11px;
  margin-top: 20px;
  margin-bottom: 5px;
  line-height: 20px;
}
.col-pop-feat3 {
  font-family: Arial;
  margin-top: 25px;
}

.navigazione-laterale {
  list-style: none;
  font-family: Arial;
  font-size: 11px;
  text-align: left;
  margin-left: 28px;
  margin-top: 20px;
  line-height: 20px;
}

.navigazione-laterale li a{
  text-decoration: none;
  color: black;
}

/*CTA LEARNMORE COLONNA 3*/

.contact-learnmore3{
  background-color: #fe775a;
  height:30px;
  width:100px;
  margin-left: 85px;
  margin-top: 40px;
  border-radius: 5px;
  text-align: center;
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}
.cta-crm-learnmore3{
  font-size: 12px;
  font-family: Arial;
  border: none;
  background-color:transparent;
  color: white;
  text-align: center;

}

/**FINE COLONNA 3**/

/*BOX COMMUNITY*/
.box-community{
  position: relative;
}
.box-community{
  content '';
  display: table;
  clear:both;
}

.box-community-background{
  width: 1900px;
  height: 900px;
  background-image: linear-gradient(to bottom right, #00a6bb, #00bba7 );
  background-position: center;
  margin-left: -500px;
  margin-top: 40px;
  color: white;
  font-family: Arial;
}
.text-header-community {
  color: white;
  font-family: Arial;
  padding-top: 30px;
  padding-bottom: 30px;
}
.text-description-com {
  font-size: 12px;
}

/*COLONNE BOX COMMUNITY*/
/*COLONNA 1 BOX COMMUNITY*/

.colonna-1-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-1-boxcomm{
float: left;
margin-left: 545px;
/*height: 148px;*/
width:150px;;
/*border-right-style: solid;
border-color: white*/
}

.col1bc-header .border-column{
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
  border-width: 0px 1px 1px 0px;
}

.col1bc-heading{
  padding-top: 5px;
  /*border-right: 1px solid white;*/
}

.image-icon-heading-1{
  border-right: 1px solid white;
}
.heading-150::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
  top: 345px;
}
.text-under-heading {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  margin-bottom: 20px;
}
/*COLONNA 2 BOX COMMUNITY*/

.colonna-1-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-1-boxcomm{
float: left;
margin-left: 545px;
padding-top: 100px;

}

.col2bc-header .border-column{
  border-style: solid;
  border-color: white;
  /*margin-bottom: 10px;*/
  border-width: 0px 0px 0px 0px;
}

.col2bc-image{
  padding:0;
  margin: 0 auto;
}
.col2bc-heading{
  /*padding-top: 5px;*/

}
.image-icon-heading{
  /*border-right: 1px solid white;*/
}
.heading-hubspot-connect::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
  top: 465px;
}
.text-under-heading2 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 20px;
}
/**FINE COLONNA 2 BOX COMMUNITY**/

/*COLONNA 3 BOX COMMUNITY*/

.colonna-3-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-3-boxcomm{
float: left;
margin-right: 600px;
/*height: 148px;*/
width:150px;
/*border-right-style: solid;
border-color: white*/
}
.colonna-3-boxcomm{
padding-top: 100px;
}
.col3bc-header .border-column{
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
  border-width: 0px 1px 1px 0px;
}

.col3bc-heading{
  padding-top: 5px;
}
.heading-hubspot-blogs::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  /*display: inline-block;*/
  margin-left: 5px;
  top: 343px;
}
.text-under-heading3 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 20px;
}
/**FINE COLONNA 3 BOX COMMUNITY**/

/*COLONNA 4 BOX COMMUNITY*/
.colonna-4-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-4-boxcomm{
float: left;
margin-left: 545px;
padding-top: 100px;

}

.col4bc-header .border-column{
  border-style: solid;
  border-color: white;
  /*margin-bottom: 10px;*/
  border-width: 0px 0px 0px 0px;
}

.col4bc-image{
  padding-top: 4px;

}
.col4bc-heading{
  padding-top: 15px;

}
.image-icon-heading{
  /*border-right: 1px solid white;*/
}
.heading-hubspot-community::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
  top: 466px;
}
.text-under-heading4 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 0px;
}

/**FINE COLONNA 4 BOX COMMUNITY*/

/*COLONNA 5 BOX COMMUNITY*/

.colonna-5-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-5-boxcomm{
float: left;
margin-right: 0px;
margin-left: -600px;
/*height: 148px;*/
width:150px;
margin-top: 95px;

/*border-right-style: solid;
border-color: white*/
}
.colonna-5-boxcomm{
margin-bottom: 500px;
}
.col5bc-header .border-column{
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
  border-width: 0px 1px 1px 0px;
}

.col5bc-heading{
  padding-top: 5px;
}
.heading-hubspot-academy-5::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  text-align: center;
  margin-left: 5px;
  top: 343px;
}
.text-under-heading-5 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 20px;
}

/**FINE COLONNA 5 BOX COMMUNITY*/

/*COLONNA 6 BOX COMMUNITY*/

.colonna-6-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-6-boxcomm{
/*float: left;*/
/*margin-left: 545px;*/
margin-top: 100px;
}

.col6bc-header .border-column{
  border-style: solid;
  border-color: white;
  /*margin-bottom: 10px;*/
  border-width: 0px 0px 0px 0px;
}

.col6bc-image{
  padding-top: 4px;

}
.col6bc-heading{
  padding-top: 15px;

}
.image-icon-heading{
  /*border-right: 1px solid white;*/
}
.heading-hubspot-community::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
  top: 466px;
}
.text-under-heading-6 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 0px;
}
/**FINE COLONNA 6 BOX COMMUNITY*/
/*COLONNA 7 BOX COMMUNITY*/

.colonna-7-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-7-boxcomm{
float: left;
margin-right: 0px;
margin-left: -450px;
/*height: 148px;*/
width:150px;
margin-top: 95px;

/*border-right-style: solid;
border-color: white*/
}
.colonna-7-boxcomm{
margin-bottom: 500px;
}
.col7bc-header .border-column{
  border-style: solid;
  border-color: white;
  margin-bottom: 10px;
  border-width: 0px 0px 1px 1px;
}
.image-icon-heading-7{
  /*border-right: 1px solid white;*/
  border-left: 1px solid white;
}

.col7bc-heading{
  padding-top: 5px;
}
.heading-community-inbound-7::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  text-align: center;
  margin-left: 5px;
  top: 343px;
}
.text-under-heading-7 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 20px;
}
/**FINE COLONNA 7 BOX COMMUNITY**/

/*COLONNA 8 COMMUNITY*/

.colonna-8-boxcomm::after {
  content '';
  display: table;
  clear:both;
}

.colonna-8-boxcomm{
/*float: left;*/
/*margin-left: 545px;*/
margin-top: 100px;
}

.col8bc-header .border-column{
  border-style: solid;
  border-color: white;
  /*margin-bottom: 10px;*/
  border-width: 0px 0px 0px 1px;
}

.col8bc-image{
  padding-top: 4px;

}
.col8bc-heading{
  padding-top: 15px;

}
/*.image-icon-heading8{
border-right: 1px solid white;
}*/
.heading-growth-hub::after{
  position: absolute;
  z-index: 1;
  content:"+";
  font-size: 16px;
  display: inline-block;
  margin-left: 5px;
  top: 466px;
}
.text-under-heading-8 {
  padding-top: 10px;
  font-family: Arial;
  font-size: 10px;
  padding-bottom: 0px;
}
